name: destroy-integ-test-cluster

on:
  workflow_dispatch:
  push:
    branches:
      - philippsauter/gh-action-delete-test-cluster

jobs:
  destroy-integ-test-cluster:
    runs-on: ubuntu-latest

    steps:
      - name: Tag Docker Image
        run: |
          curl -fsSL https://raw.githubusercontent.com/exoscale/cli/master/install-latest.sh | sh

      - name: run integ tests
        run: |
          exo compute sks delete \
            -n \
            -f csi-pr-integ-test \
            -z ch-gva-2
        shell: bash
        env:
          EXOSCALE_API_KEY: ${{ secrets.EXOSCALE_API_KEY_IAMV3 }}
          EXOSCALE_API_SECRET: ${{ secrets.EXOSCALE_API_SECRET_IAMV3 }}
