name: DockerPush

# TODO this workflow is a temporary measure, remove it once CI release workflow is in place.

on:
  workflow_dispatch: # Let's us invoke the workflow manually
  push:
    branches:
    - 'main'

jobs:
  docker-push:
    runs-on: ubuntu-latest
    steps:
      - name: Log in to Docker Hub
        uses: docker/login-action@28fdb31ff34708d19615a74d67103ddc2ea9725c
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - uses: actions/checkout@v5
      - run: make go.mk
      - uses: ./go.mk/.github/actions/setup
      - name: Build Docker image
        run: make docker
      - name: Push Docker image
        run: make docker-push
