name: CI

on:
  push:
    branches:
    - '**'
    paths-ignore:
    - '**.md'
    tags-ignore:
    - 'v**' # Don't run CI tests on release tags

jobs:
  pre-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - run: make go.mk

      - uses: ./go.mk/.github/actions/setup

      - uses: ./go.mk/.github/actions/pre-check

  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - uses: ./.github/actions/build

  docker-build:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - run: make go.mk
      - uses: ./go.mk/.github/actions/setup
      - name: Build Docker image
        run: make docker
